<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
	<head>
		<title>Kenny I Fast build Admin dashboard for any platform</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="description" content="Kenny is a Dashboard & Admin Site Responsive Template by hencework.">
		<meta name="keywords" content="admin, admin dashboard, admin template, cms, crm, Kenny Admin, kennyadmin, premium admin templates, responsive admin, sass, panel, software, ui, visualization, web app, application">
		<meta name="author" content="hencework">

		<!-- vector map CSS -->
		<link th:href="@{/css/jasny-bootstrap.min.css}" rel="stylesheet" type="text/css">

		<!-- Custom CSS -->
		<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
	</head>
	<body>
		<!--Preloader-->
		<div class="preloader-it">
			<div class="la-anim-1"></div>
		</div>
		<!--/Preloader-->
		
		<div class="wrapper pa-0">
		
			<!-- Main Content -->
			<div class="page-wrapper pa-0 ma-0">
				<div class="container-fluid">
					<!-- Row -->
					<div class="table-struct full-width full-height">
						<div class="table-cell vertical-align-middle">
							<div class="auth-form  ml-auto mr-auto no-float">
								<div class="panel panel-default card-view mb-0">
									<div class="panel-heading">
										<div class="pull-left">
											<h6 class="panel-title txt-dark">Sign In</h6>
										</div>
										<div class="clearfix"></div>
									</div>
									<div class="panel-wrapper collapse in">
										<div class="panel-body">
											<div class="row">
												<div class="col-sm-12 col-xs-12">
													<div class="form-wrap">
														<form action="#">
															<div class="form-group">
																<label class="control-label mb-10" for="exampleInputEmail_2">Email address/User name/Phone</label>
																<div class="input-group">
<!--																	<input type="email" class="form-control" required="" id="exampleInputEmail_2" placeholder="Enter email">-->
																	<input type="text" class="form-control" required="" id="exampleInputEmail_2" placeholder="Enter email/username/phone">
																	<div class="input-group-addon"><i class="icon-envelope-open"></i></div>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label mb-10" for="exampleInputpwd_2">Password</label>
																<div class="input-group">
																	<input type="password" class="form-control" required="" id="exampleInputpwd_2" placeholder="Enter pwd">
																	<div class="input-group-addon"><i class="icon-lock"></i></div>
																</div>
															</div>
															
															<div class="form-group">
																<div class="checkbox checkbox-success pr-10 pull-left">
																	<input id="checkbox_2" required="" type="checkbox">
																	<label for="checkbox_2"> keep me logged in </label>
																</div>
																<a class="capitalize-font txt-danger block pt-5 pull-right" href="#">forgot password</a>
																<div class="clearfix"></div>
															</div>
															<div class="form-group">
																<button type="submit" class="btn btn-success btn-block" >sign in</button>
															</div>
															<div class="form-group mb-0">
																<span class="inline-block pr-5">Don't have an account?</span>
																<a class="inline-block txt-danger" href="javascript:;">Sign Up</a>
															</div>	
														</form>
													</div>
												</div>	
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Row -->	
				</div>
				
			</div>
			<!-- /Main Content -->
		
		</div>
		<!-- /#wrapper -->
		
		<!-- JavaScript -->
		
		<!-- jQuery -->
		<script th:src="@{/js/jquery.min.js}"></script>
		
		<!-- Bootstrap Core JavaScript -->
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/jasny-bootstrap.min.js}"></script>
		
		<!-- Slimscroll JavaScript -->
		<script th:src="@{/js/jquery.slimscroll.js}"></script>
	
		<!-- Fancy Dropdown JS -->
		<script th:src="@{/js/dropdown-bootstrap-extended.js}"></script>
		
		<!-- Init JavaScript -->
		<script th:src="@{/js/init.js}"></script>
	</body>
</html>
